.networkCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .networkCard > h3 { 
    text-align: center;
  }
  
  .networkCard .details > div {
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
    font-size: .8rem;
  }
  
  .networkCard .details > div > span {
    margin: 0 0.5rem;
   }
  
  .networkCard .action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .networkCard .action > div {
    margin: .8rem 0
  }
  
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .inputContainer span {
    font-size: .8rem;
  }
  
  .tab {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tab .active {
    background: black;
    color: white
  }
  

  .card {
    border: 4px solid black;
    padding: 0.5rem 1rem;
  }

  .networkGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  @media (max-width: 600px) {
    .networkGrid {
      
      grid-template-columns: 1fr ;
    }
  }