.section {
  margin: 3rem 0;
}

.balanceWrapper {
  display: flex;
  justify-content: space-between;
}

.pageWrapper {
  padding: 0.5rem;
}

.networkGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border: 4px solid black;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}


@media (max-width: 600px) {

  .balanceWrapper {
    flex-direction: column;
  }
}