.container {
  min-height: 98vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.container button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.5rem;
  cursor: pointer;
}

.container input {
  width: 5rem;
  border: 0;
  border-bottom: 2px solid black;
  margin: 0 0.5rem;
}

.section {
  margin: 3rem 0;
}

.balanceWrapper {
  display: flex;
  justify-content: space-between;
}

.pageWrapper {
  padding: 0.5rem;
}

.card {
  border: 4px solid black;
  padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
